@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');

body{font-family: 'Open Sans', sans-serif; position: relative; background: #F8F9FD;}

h1,h2,h3,h4,h5{font-family: 'Open Sans', sans-serif;}


header{background: #000000; }
.log-reg a{color: #fff; text-decoration: none; font-size: 12px;}
.log-reg{color: #fff; padding-top: 13px; text-align: right;}
.log-reg a:hover{color: #FFA001;}

.social-block{margin: 0; padding: 10px 0 0;}
.social-block ul{margin: 0; padding: 0; text-align: right;}
.social-block ul li {
  /*border: 1px solid #ccc;*/
  border-radius: 1px;
  display: inline-block;
  font-size: 12px;
  height: 24px;
  list-style: outside none none;
  margin: 0 2px;
  text-align: center;
  width: 24px;
}
.social-block ul li a{color: #FF9B00; font-size: 15px;}



 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }

  .carousel-inner > .item:before {
  	content: '';
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	background: rgba(0, 0, 0, 0.6);
  	

  }

.carousel-control.left{background-image: none; background-color: none; display: none;}
.carousel-control.right{background-image: none; background-color: none; display: none;}
.carousel-caption{top: 20%;}

.banner-slider h3{font-family: 'Open Sans', sans-serif; text-transform: uppercase;
font-size: 22px;}
.banner-slider h2{margin-top: 0; font-family: 'Open Sans', sans-serif; text-shadow: none;
font-weight: 700; font-size: 32px; position: relative;}

.banner-slider h2::after {
  background: #ff9801 none repeat scroll 0 0;
  bottom: -24px;
  content: "";
  height: 2px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 138px;
}

.bodypart{padding: 30px 0 0;}
.block{background: #F5F5F5; padding: 15px 10px; min-height: 400px; position: relative;
margin-bottom: 38px;
}
.small-block{background: #F5F5F5; padding: 15px 10px; position: relative; 
min-height: 193px; margin-bottom: 15px;}

.welcome-sec{text-align: center; padding-top: 105px;}
.welcome-sec h2{color: #2D2D2D; font-size: 23px; font-weight: 600;}
.welcome-sec p{font-size: 12px;}
/*.sign-in{background: #EABB75; border: 1px solid #7A6D5A;}*/

.sign-in{background: #ED581E; border-radius: 30px; color: #fff; width: 185px; margin: 0 auto;
padding: 6px 0; border: none; display: block;}



.four-block h2.heading{font-size: 18px; text-align: center; 
    font-weight: 600; margin-top: 0;}


.block-footer{position: absolute; width: 92%; bottom: 15px; border-top: 1px solid #ccc;
padding-top: 7px; text-align: left; font-size: 13px;}
.block-main ul{margin: 0; padding: 20px 0 0;}
.block-main ul li{display: block; list-style: none; font-size: 13px; padding-bottom: 15px;}

.block-main ul li span{color: #000; float: left; height: 45px; padding: 0 7px 0 6px;}
.block-main{text-align: left;}
.block-main p{margin-bottom: 4px; font-size: 13px;}

.blog-pic{text-align: center;}
.blog-pic img{max-width: 115px; margin-bottom: 15px;}
.align-center{text-align: center;}

.bottom-part{background: #000000; padding: 24px 0; text-align: center;}
.bottom-part a{text-decoration: none; color: #fff; font-size: 17px;}

footer{background: #232F3F; padding: 40px 0; position: relative;}
footer h3{color: #fff; font-size: 17px; margin-top: 0;}
footer ul{margin: 0; padding: 0 0 20px;}
footer ul li{margin: 0; padding: 0; list-style: none;}
footer ul li a{color: #fff; text-decoration: none; font-size: 12px;}
footer ul li a:hover{color: #ccc; text-decoration: none;}
footer hr{color: #3E4A56; border-color: #3E4A56;}

.copyrights{text-align: center; color: #fff; font-size: 12px;}

.chat-icon{width: 91px; height: 75px; /*background: #52CB60;*/ position: fixed;
bottom: 5%; right: 1%; padding: 12px; border-radius: 50%;
}
.chat-icon img{max-width: 100%;}

.chat-pic{width: 35px; height: 35px; border-radius: 50%; float: left; overflow: hidden;}
.chat-pic img{max-width: 100%;}
.chat-txt{float: left; width: 80%; float: right; padding: 7px; font-size: 12px;
border-radius: 5px;
}
.grey{background: #F4F7F9}
.yellow{background: #FF9D01; color: #fff;}
.green{background: #47C557; color: #fff;}

.chat-head{margin-bottom: 10px;}
.chat-image{float: left; width: 20%}
.chat-person{float: right; width: 80%; font-size: 13px;}
.clearfix{clear: both;}
.join-now{background: #FF9900; display: block; width: 100%;
color: #fff; border: 1px solid #FF9801; text-transform: uppercase; margin-bottom: 10px;}
.join-now:hover{background: #EABB75; color: #fff;}
.review-block{padding-top: 35px;}

.tem-btn{background: #FF9900; display: block; width: 100%;
color: #fff; border: 1px solid #FF9801; text-transform: uppercase; margin-bottom: 11px;}
.tem-btn:hover{background: #EABB75; color: #fff;}
.template-block{padding-top: 17px;}
.template-block p{font-size: 12px;}

.carousel-inner{ width:100%; max-height: 301px !important;}
.logo{width: 85px;}
.logo img{max-width: 100%;}
.forgot-pass{font-size: 12px;}

.navbar-toggle{background: #fff; padding: 6px 5px; margin: 0;}
.navbar-toggle .icon-bar{background: #FE9900;}
.navbar{margin-bottom: 0; min-height: auto;}
.navbar-collapse{border: none; box-shadow: none;}

.navigation-area{margin-bottom: 9px;}
.navigation-area a{color: #fff; font-family: 'Open Sans', sans-serif; font-size: 14px;}
.navigation-area .nav > li > a{padding: 10px;}
.navigation-area .nav > li > a:focus, .nav > li > a:hover{background: none; outline: none;}

.two-colume{padding-bottom: 30px;}
.two-colume .lft-part{border-right: 1px solid #E3E3E3; border-bottom: 1px solid #E3E3E3; min-height: 300px;
padding-top: 50px;}
.two-colume .rht-part{padding-top: 50px;}
.two-colume .rht-part h1{font-family: 'Open Sans', sans-serif; font-weight: 300; margin: 0;
color: #000; font-size: 35px; text-align: center; padding-bottom: 25px;}
.no-padding{padding: 0;}
.rht-part .box{height: 245px; overflow: hidden; margin-bottom: 10px;
padding-top: 0; position: relative; 

transition: all 1s ease-in-out;
/*-webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;*/
border-radius: 7px;

}
.rht-part .box img{max-width: 100%;}
.box-holder{text-align: center; padding-bottom: 17px;}

.template-hide-info{background: rgba(49, 56, 66, 0.8); position: absolute;
width: 100%; height: 100%; display: none; z-index: 9999; top: 0;
padding: 40px 20px 0; text-align: left; color: #fff;}
.rht-part .box:hover .template-hide-info{display: block;}
.rht-part .box h3{font-family: 'Open Sans', sans-serif; font-size: 17px; font-weight: 300;
border-bottom: 1px solid #ccc; padding-bottom: 4px;}
.rht-part .box p{font-size: 12px;}
.box-info{ min-height: 70px;}
.btn-yellow{background: #F59E2D; color: #fff; padding: 4px 5px;}
.btn-yellow:hover{color: #fff;}

.search-box{border-bottom: 1px solid #F59E2D; padding-bottom: 10px;}
.search-box button{background: none; border: none;}
.search-box input[type="text"]{border: none; width: 77%;}

.menu-list{border-bottom: 1px solid #B6B6B6; padding-bottom: 23px;}
.menu-list ul{margin: 0; padding: 0;}
.menu-list ul li{margin: 0; padding: 0; list-style: none;}
.menu-list ul li a{display: block; color: #888888; font-size: 14px; padding: 4px 0;
}
.menu-list ul li a:hover{color: #333; text-decoration: none;}

.category-menu{padding-bottom: 23px;}
.category-menu ul{margin: 0; padding: 0;}
.category-menu ul li{margin: 0; padding: 0; list-style: none;}
.category-menu ul li a{display: block; color: #888888; font-size: 14px; 
padding: 7px 0 7px 23px; 
background: url(../images/yellow-arrow.png) no-repeat top 10px left 7px; background-size: 8px;
}
.category-menu ul li a:hover{color: #333; text-decoration: none;
background: url(../images/yellow-arrow.png) no-repeat top 10px left 7px #FFEACD; background-size: 8px;
}

.category-menu h5{color: #898989; padding: 4px 0;}

.pagination{border-top: 1px solid #EFEFF1; border-bottom: 1px solid #EFEFF1; display: block; padding: 10px 0;
margin-top: 37px;}
.pagination ul {margin: 0; padding: 0; text-align: center;}
.pagination ul li{margin: 0 2px; padding: 0; display: inline-block; width: 40px; height: 40px;
border-radius: 50%; text-align: center; color: #000; list-style: none; border: 1px solid #ccc;
}
.pagination ul li a{margin: 0; padding: 8px 0 0; display: inline-block; width: 40px; height: 40px;
border-radius: 50%; text-align: center;
color: #000;
}
.pagination ul li a:hover{background: #2198E8; color: #fff; text-decoration: none;}

.project-top-block{background: #F3F3F3; border-bottom: 1px solid #EDEDED; border-left: 3px solid #FBB45A;
padding:25px 17px 20px; margin-bottom: 35px;
}
.project-top-block h3{text-transform: uppercase; font-size: 14px; color: #ccc;
margin: 0 0 7px 0; color: #000;
}
.project-top-block p{font-size: 13px; color: #6B6B6B;}
.new-project{background: #FBB45A; padding: 8px 13px; border-radius: 5px;
color: #fff; text-transform: uppercase; margin-right: 7px; margin-top: 5px;
display: inline-block; margin-bottom: 15px;
}
.new-project:hover{color: #fff; text-decoration: none; cursor: pointer;}
.new-button{background: #fff; padding: 8px 13px; border-radius: 5px;
color: #2A1905; text-transform: uppercase; border: 1px solid #E4E4E4; display: inline-block;}
.new-button:hover{color: #000; text-decoration: none; cursor: pointer;}
.project-block{-moz-box-shadow: 0 0 5px #DADADA;
-webkit-box-shadow: 0 0 5px#DADADA;
box-shadow: 0 0 5px #DADADA; margin-bottom: 50px;}
.project-pic{margin-right: 5px; float: left; width: 30%;}
.project-info-txt{padding:35px 20px; float: left; width: 68%; min-height: 233px;}
.project-info-txt h2{color: #000; font-size: 25px; border-bottom: 1px solid #ccc;
padding-bottom: 10px;
}
.project-info-txt p{color: #5D5E62; font-size: 15px;}
.project-footer{margin:0; padding: 40px 0 0;}
.project-footer ul{margin:0; padding: 0}
.project-footer ul li{margin:0; padding: 0; display: inline-block;}
.project-footer ul li a{color: #545454; text-decoration: none; font-size: 14px; padding-left: 33px;
padding-top: 4px; padding-bottom: 5px;}
.delete-project{background: url(../images/delete-icon.jpg) no-repeat; margin-right: 20px;}
.create-project{background: url(../images/copy-icon.jpg) no-repeat;}
.project-pic img{max-width: 100%;}


.inside-banner{margin: 20px 0 0;}
.inside-banner img{max-width: 100%;}
p{font-size: 12px;}
.two-panel{margin-bottom: 30px; padding-bottom: 20px;}
.two-panel h4{color: #000; margin-top: 0;}
.two-panel p{color: #484848;}
.two-panel ul{margin: 0; padding: 0 13px;}
.two-panel ul li{font-size: 13px; color: #585858;}
.border-right{border-right: 1px solid #BCBCBE;}

.single-panel h4{color: #000; margin-top: 0;}
.submit-btn{background:#0087B7; color: #fff; padding: 5px 24px; font-size: 12px;
border: 1px solid #0087B7;
}
.post-product-btn{border: 1px solid #9E9EA0; padding: 5px 24px; font-size: 12px;
color: #2D2D2D;}

.log-in{border-bottom: none;}
.log-in .modal-title{color: #9F9F9F; font-family: 'Open Sans', sans-serif; font-weight: 700;
font-size: 30px; padding-top: 30px;}
.log-in p{color: #A0A0A0; font-size: 17px;}

.log-modal-body a{color: #A1A1A1; text-decoration: none;}
.log-modal-body .form-control{background: #EDEDED; border-radius: 30px; border: none; box-shadow: none;
text-align: center;}


.log-modal-body .checkbox{margin-top: 0; color: #A1A1A1;}

.modal-footer-common{margin-top: 52px; margin-bottom: 20px; text-align: right;}
a.signup-btn{background: #0087B7; border-radius: 10px; color: #fff;}
a.signup-btn:hover{color: #fff;}
.modal-footer-common span{margin-left: 10px;}
button.close{width: 22px; height: 23px; border: 1px solid; border-radius: 50%;}
.modal-content{border-radius: 18px;}
.log-modal-body .form-group{width: 73%; margin: 0 auto 18px;}


.roundedOne {
/*  width: 28px;
  height: 28px;*/
  width: 22px;
  height: 22px;
  position: relative;
  background: #fff;
/*  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);*/
  border-radius: 50px;
/*  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);*/
  display: inline-block;
}
.roundedOne label {
/*  width: 20px;
  height: 20px;*/
    width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
/*  left: 4px;
  top: 4px;*/
    left: 1px;
  top: 6px;

/*  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);*/
  background: #fff;
  border-radius: 50px;
/*  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;*/
  border: 1px solid #ccc;
}
.roundedOne label:after {
  content: '';
/*  width: 16px;
  height: 16px;*/
    width: 14px;
  height: 14px;
  position: absolute;
  top: 2px;
  left: 3px;
  background: #999;
/*  background: -webkit-linear-gradient(top, #27ae60 0%, #145b32 100%);
  background: linear-gradient(to bottom, #27ae60 0%, #145b32 100%);*/
  opacity: 0;
  border-radius: 50px;
/*  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);*/
}
.roundedOne label:hover::after {
  opacity: 0.3;
}
.roundedOne input[type=checkbox] {
  visibility: hidden;
}
.roundedOne input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.our-team-banner{position: relative;}
.our-team-banner-txt{position: absolute;  transform: translate(-50%, -50%);
top: 50%; left: 50%; color: #fff; font-size: 28px; font-weight: 700;}
.our-team-banner-txt:after{content: ''; width: 90px; height: 2px; position: absolute; 
bottom: -8px; background: #fff; left: 0; right: 0; margin: 0 auto;}
.our-team .page-heading{font-size: 18px; color: #2B2B2B;}
.team-members{padding-bottom: 35px;}
.team-members .our-team-pic{width: 130px; height: 130px; margin: 0 auto; border-radius: 50%;
overflow: hidden; text-align: center;}
.our-team-pic img:hover{opacity: 0.7}
.team-member-name h2{font-size: 14px; margin-top: 10px; margin-bottom: 2px;}
.team-member-position{font-size: 12px; color: #7A7A7A; padding-bottom: 7px;}

.team-members p{color: #7E7E7E; font-size: 12px;}
.personal-social{margin: 0; padding: 0;}
.personal-social ul{margin: 0; padding: 0;}
.personal-social ul li{margin: 0; padding: 0 3px; display: inline-block; list-style: none;}
.personal-social ul li a{color: #000; font-size: 12px;}
.our-team-banner img{max-width: 100%;}


.user-profile-banner img{max-width: 100%;}

.user-profile-banner{background: #fff; border-bottom: 1px solid #DADBDD;}
.banner-bottom-sec{position: relative; border-left: 1px solid #EFEFF1; border-right: 1px solid #EFEFF1;
}

.user-image-sec{position: relative;}
.user-image{width: 180px; height: 180px; overflow: hidden; border-radius: 50%;
border: 4px solid #fff; position: absolute; top: -90px; left: 30px;}
.user-edit-sec{padding: 20px 0;}
.user-edit-sec h2{color: #2A2A2A; font-size: 16px; margin-top: 0; font-weight: 700;}
.user-edit-sec ul{margin: 0; padding: 0;}
.user-edit-sec ul li{margin: 0; padding: 0 15px 18px 0px; display: inline-block; list-style: none;
font-size: 12px;}
.edit-profile{font-size: 11px; color: #000; padding-right: 15px;}
a.edit-profile:hover{text-decoration: none; color: #E67525;}
.align-right{text-align: right;}

.lft-panel-box{background: #fff; border-radius: 10px; padding: 20px; -moz-box-shadow: 0 1px 1px #ccc;
-webkit-box-shadow: 0 1px 1px #ccc; box-shadow: 0 1px 1px #ccc; margin-bottom: 13px;}

.lft-panel-box h2{color: #000; font-size: 15px; margin: 0 0 10px 0;}
.lft-panel-box p{margin-bottom: 0; color: #878787; font-size: 11px;}
.lft-panel-box ul{margin: 0; padding: 0;}
.lft-panel-box ul li{list-style: none; display: block; margin-bottom: 7px;}
.lft-panel-box ul li a{color: #3088C7; text-decoration: none; }
.lft-panel-box ul li span{background: #CBC6C6; color: #fff; width: 28px; height: 28px;
text-align: center; border-radius: 50%; padding-top: 4px; display: inline-block; margin-right: 6px;}

.account-div p{margin-bottom: 10px;}
.account-div a{color: #3686C5; font-size: 13px; font-weight: 600;}
.feedback-btn{ text-align: center; border-radius: 4px;
display: block; font-size: 12px;}
a.feedback-btn{color: #fff; display: block; padding: 7px 0; background: #F0960E; }
a.feedback-btn:hover{opacity: 0.8; text-decoration: none;}


.community-box{background: #F3F4F6; padding: 10px 18px; border: 1px solid #EAEBEF; border-radius: 10px;}
.community-box-heading{border-bottom: 1px solid #DCDDDF; padding-bottom: 10px; margin-bottom: 25px;}

.all-activity-btn{background: #4EA6FF; border-radius: 5px; padding: 8px 9px; font-size: 12px;}
a.all-activity-btn {
  color: #fff;
  display: inline-block;
  line-height: 19px;
  text-decoration: none;
  vertical-align: middle;
}
a.all-activity-btn span {
  display: inline-block;
  float: right;
  height: 19px;
  line-height: 6px;
  margin: 0 0 0 7px;
  padding: 0;
  vertical-align: middle;
  width: 13px;
}
.community-box-heading h2{margin: 0; padding: 14px 0 0 0; font-size: 16px; color: #707072;}
.white-box {
  background: #fff none repeat scroll 0 0;
  border-radius: 10px;
  box-shadow: 0 1px 1px #ccc;
  margin-bottom: 20px;

}
.white-box-head{border-bottom: 1px solid #E0DFDF; padding: 10px 15px;}
.white-box-main{ padding: 15px;}
.white-box-head ul{margin: 0; padding: 0;}
.white-box-head ul li{margin: 0; padding: 0 8px 0 2px; display: inline-block; color: #757575;
background: url(../images/border.jpg) no-repeat right; }
.white-box-head ul li a{color: #757575; text-decoration: none; font-size: 12px;}
.white-box-head ul li:last-child{background: none;}

.white-box-main img{max-width: 100%;}
.white-box-main p{color: #858585; font-size: 12px;}
.rating-sec{padding-top:15px;}
.rating-sec a{color: #000;}
.white-box-foot{border-top: 1px solid #F0F0F0; padding: 10px 15px;}
.white-box-foot p{margin-bottom: 0;}
.modal-lg{width: 600px;}




@media screen and (max-width: 991px) {

    .project-info-txt{padding: 3px 20px;}
  .project-info-txt h2{font-size: 16px;}
  .project-footer{padding-top: 7px;}
  .project-info-txt p{font-size: 13px;}

}




@media screen and (max-width: 767px) {
	header{padding-bottom: 15px;}
	.box{padding-top: 0;}
	.log-reg{padding-top: 0;}
	.logo{text-align: center;}
	.social-block ul{text-align: center;}
	.carousel-caption {top: 11%;}
	.banner-slider h2{font-size: 29px;}
  .block-main ul li span{float: none;}
  .logo{margin: 0 auto;}
  .two-colume .lft-part{border-right: none;}
  .personal-social{margin-bottom: 30px;}
  a.feedback-btn{margin-bottom: 11px;}
    .white-box-main{text-align: center;}
    .user-edit-sec{padding: 11px;}
    .user-image{position: relative; margin: 0 auto; left: 0}
    .user-image-sec{height: 103px;}
    .modal-lg{width: 80%; margin: 5% auto;}

}

@media screen and (max-width: 600px) {

	.carousel-caption {top: 9%;}
	.banner-slider h2{font-size: 25px;}
  .project-footer ul li{margin-bottom: 14px;}

}


@media screen and (max-width: 520px) {

	.carousel-caption {top: 9%;}
	.banner-slider h2{font-size: 22px;}
  .project-pic{width: 100%; margin-right: 0; float: none;}
  .project-pic img{width: 100%;}
  .project-info-txt{width: 100%; float: none;}
  .our-team-banner-txt{font-size: 18px;}

  .user-image{width: 127px; height: 127px; top: -49px;}

  .modal-lg{width: 90%; margin: 5% auto;}


}

@media screen and (max-width: 480px) {

	.carousel-caption {top: 9%;}
	.banner-slider h3{font-size: 14px;}
	.banner-slider h2{font-size: 19px;

}

@media screen and (max-width: 400px) {

	.carousel-caption {top: 4%;}
	.banner-slider h2 {font-size: 16px;}


}






















